body {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: auto;
  padding: 1rem;
  background-color: #fffbe6;
}

h1 {
  color: #da7a3f;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #da7a3f;
  color: white;
  border: none;
  cursor: pointer;
}
